<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <startup>
    <supportedRuntime version="v1.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
  
    
    <!--Browser drivers URLs-->
    <add key="URL Chrome" value="%USERPROFILE%\intive-test\IntiveFDV-test\bin\drivers\chrome\v2.35"/>
    <add key="URL IE" value="%USERPROFILE%\intive-test\IntiveFDV-test\bin\drivers\IE\v3.8.0.0\amd64"/>


  </appSettings>
</configuration>
